extends layout

block content
  h2 #{title}
  if message_list 
    ul.message-list 
      for message in message_list  
        li.message-view(class=(message.author.is_admin ? 'admin-class' : message.author.is_member ? 'member-class' : '')) 
          div.message-view-top
            h4 #{message.title}
            if message.message 
              p #{message.message}
          div.message-view-bottom
            if currentUser  
              if currentUser.is_member 
                p #{message.author.username}
                p #{message.created}
              if currentUser.is_admin 
                a(href=`${message.url}/delete`) Delete message 